# Frontend
nextgen-frontend/node_modules/
nextgen-frontend/.next/
nextgen-frontend/.env.local

# Backend
nextgen-backend/.venv/
nextgen-backend/__pycache__/
nextgen-backend/**/*.pyc
nextgen-backend/.env
nextgen-backend/.env.example
nextgen-backend/db.sqlite3
nextgen-backend/media/
nextgen-backend/staticfiles/
nextgen-backend/nextgen-backend/workflow/management/commands/create_admin.py
